<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
  <h1>Welcome to Posts page.</h1>

  <ul>
    <li><a href="/Dashboard">Dashboard Home</a></li>
    <li><a href="/Dashboard/Main">Dashboard Main</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/Posts">Posts</a></li>
    <li><a href="/Users">Users</a></li>
  </ul>
  
</body>
</html>